body {
    font-size: 15pt;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 0.5rem;
}

#middle {
    display: flex; 
    flex-direction: column;
    padding: 1rem;
}

#bottom {
    display: flex;
}

.m1 {
    color: purple;
}

.m2 {
    color: orange;
}

.m3 {
    color: black;
}

.about {
    background-color: purple;
    padding: 0.4rem;
    border-radius: 50pt;
    height: 1.5rem;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    height: 5rem;
    border-radius: 50pt;
    font-weight: 700;
    border: none;
    background-color: purple;
    transition: background-color 1s ease width 1s ease;
}

.button:hover {
    background-color: black;
    width: 8rem;
}

a {
    text-decoration: none;
}

.return {
    font-size: 2rem;
    color: white;
}

#up {
    font-size: 1.5rem;
    margin-left: 12rem;
}

.registration {
    color: black;
}